# Loading Source Data from Google Sheets
The review data supporting this project was collected by me as part of a Google Sheets spreadsheet. This notebook shows how to properly connect to that sheet to download the data into a local CSV.

In [1]:
# Importing required Python libraries
import pandas as pd

In [2]:
# Defining the ID of the Google Sheet with the movie ratings
sheet_id = '1-8tdDUtm0iBrCdCRAsYCw2KOimecrHcmsnL-aqG-l0E'

In [3]:
# Creating a small function to load the data sheet by ID and sheet name
def load_google_sheet(sheet_id, sheet_name):
    url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'
    df = pd.read_csv(url)
    return df

In [4]:
# Loading all the sheets and joining them together
df_main = load_google_sheet(sheet_id, 'main')
df_patreon = load_google_sheet(sheet_id, 'patreon')
df_mnight = load_google_sheet(sheet_id, 'movie_night')
df = pd.concat([df_main, df_patreon, df_mnight], axis = 0)

In [5]:
# Viewing the first few rows of the combined DataFrame
df.head()

,Name,Category,Rating,Flickable,Episode Number,Notes
0,Zoolander 2,Movie,7.0,Yes,10,The very first flickin!
1,Dope,Movie,8.5,Yes,11,NaN
2,The Big Short,Movie,8.0,Yes,12,Gary had to read Caelan's notes since Caelan h...
3,Deadpool,Movie,10.0,Yes,13,NaN
4,Vinyl,TV Show,7.5,Yes,15,NaN

In [6]:
# Keeping only the movies
df_movies = df[df['Category'] == 'Movie']
df_movies.head()

,Name,Category,Rating,Flickable,Episode Number,Notes
0,Zoolander 2,Movie,7.0,Yes,10,The very first flickin!
1,Dope,Movie,8.5,Yes,11,NaN
2,The Big Short,Movie,8.0,Yes,12,Gary had to read Caelan's notes since Caelan h...
3,Deadpool,Movie,10.0,Yes,13,NaN
5,The Martian,Movie,8.0,Yes,17,NaN

In [7]:
# Removing the columns we do not need for the model
df_movies.drop(columns = ['Category', 'Episode Number', 'Notes'], inplace = True)
df_movies.head()

/Users/dkhundley/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4901: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

            Name  Rating Flickable
0    Zoolander 2     7.0       Yes
1           Dope     8.5       Yes
2  The Big Short     8.0       Yes
3       Deadpool    10.0       Yes
5    The Martian     8.0       Yes

In [8]:
# Saving the dataset to an external directory
df_movies.to_csv('../data/raw/caelan-reviews.csv', index = False)